* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #FFF8F3;
    background: url("../images/developer.png"), url(../images/header_bg.png),#FFF8F3;
    background-position:23px 38px, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}
.btn{
    background-color: #FD6E0A;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 18px 35px;
    font-weight: bold;
    cursor: pointer;
}
.text-center{
    text-align: center;
}   
.logo h2{
    font-size: 45px;
    font-weight: 900;
    
}
.logo .orange{
    color: #FD6E0A;
}
#banner{
    margin: 46px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
nav .menu{
    display: flex;
    align-items: center;
    gap: 51px;
    list-style-type: none;
    align-items: center;
    
}
nav .menu li a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    
}
.btn-grp{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.banner-content{
    max-width: 585px;
}
.banner-content h2{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 24px;
    color: #474747;
    margin-bottom: 5px;
}
.banner-content h1{
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #181818;
}
.banner-content p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;
   
}
#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;

}
#about, #skills, #resume{
    padding-top: 130px;
    
}
#about .about-content{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}
#about .about-content {
    padding: 131px 156px;
    background-color: #FFF8F3;
    border-radius: 10px;
}
#about .about-content .about-info{
    display: flex;
    justify-content: space-around;
}
#about .about-content .about-info .info-card h4{
    font-size: 20px;
    color: #757575;
    line-height: 30px;
    font-weight: normal;
}
#about .about-content .about-info .info-card p{
    font-size: 20px;
    color: #474747;
    font-weight: bold;
}
.section-heading{
    max-width: 827px;
    margin: 0px auto;
    text-align: center;
    
}
.section-heading h2{
    margin-bottom: 30px;
    color: #181818;
    font-size: 35px;
    font-weight: bold;
}
.section-heading p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

#skills .skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
#skills .skills-container .skill-box{
    display: flex;
    gap: 24px;
}
#skills .skills-container .skill-card{
    padding: 30px;
    max-width: 267px;
    /* max-height: 377px; */
    /* border: #181818 1px solid; */
    box-shadow: 0px 6px 50px 0px #0000001e;
    border-radius: 5px;
}
.skill-card img{
     max-width: 44px;
    margin-bottom: 30px;
}
.skill-card h3{
    margin-bottom: 20px;
    color: #181818;
    font-size: 20px;
    font-weight: bold;
}
.skill-card p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}
#resume .resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}
.resume-container .section-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 30px ;
}
.resume-container hr{
   margin: 30px 0;
}
.resume-card{
    max-width: 511px;
    margin-right: 47px;

}
.resume-card .card-title{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;
    
}
.resume-card .card-info{
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
    font-weight: 600;
}
.resume-card .card-text{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
   
}
footer{
   margin-top:113px;
    background-color: #FFF8F3;
    padding: 130px;
    
}
footer .footer-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 117px;
}
footer .social{
    width: 562px;
}
footer .social h2{
    font-size: 35px;
    color: #181818;
    margin-bottom: 18px;
}
footer .social p{
    font-size: 16px;
    color: #474747;
    line-height: 28px;
    margin-bottom: 32px;
}
footer .social a{
    margin-right: 24px;
}
footer .form h2{
    font-size: 35px;
    color: #181818;
    margin-bottom: 28px;
}
footer .form input[type="text"], footer .form textarea{
    width: 461px;
    padding: 18px 30px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
    font-size: 16px;
    line-height: 28px;


}
.hide{
    display: none !important;
}
@media screen and (max-width:576px) {
    nav{
        width: 95%;
    }
    nav .menu {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
    #about, #skills, #resume {
    padding-top: 40px;
}
.section-heading h2 {
    font-size: 30px;
}
#skills .skills-container {
    width: 80%;
}
#about .about-content {
    padding: 25px;
    width: 85%;
}
#about .about-content .about-info{
    gap:20px;
}
#skills .skills-container .skill-box, #about .about-content .about-info,footer .footer-container,#resume .resume-container, nav, #banner {
    flex-direction: column;
}
#skills .skills-container .skill-card {
    max-width: 90%;
    margin: 0 auto;
}
footer {
    padding: 50px 15px;
}
footer .social {
    width: 100%;
}
footer .form input[type="text"], footer .form textarea {
    width: 100%;
}
#resume .resume-container {
    margin-top:60px ;
}
.resume-card {
    margin-right: 25px;
}
#banner .banner-image img {
    width: 100%;
    margin: 0 auto;
}
    #banner {
    width: 95%;
    margin:20px;
    gap: 20px;
    text-align: center;

}
.banner-content h1{
    font-size: 50px;
}
.btn-grp{
    justify-content: center;
}
header{
    background-color: #FFF8F3;
    background: url(../images/header_bg.png),#FFF8F3;
    background-position:bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}
}