* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
}
.btn{
    background-color: #FD6E0A;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 18px 35px;
    font-weight: bold;

}
.logo h2{
    font-size: 45px;
    font-weight: 900;
    
}
.logo .orange{
    color: #FD6E0A;
}
nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
nav .menu{
    display: flex;
    align-items: center;
    gap: 51px;
    list-style-type: none;
    align-items: center;
    
}
nav .menu li a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    
}